{% extends "based.html" %}

{% block mainContent %}
<div class="about_settings">

	<div class="row" style="padding-top: 1em;">
		<div class="col-xs-12 col-sm-8 col-md-8">
			<strong> WTE is What the Eddy?</strong>
				<p>
					What The Eddy (WTE) is at the most simplest form is another blog. The idea
					came when helping fellow classmates in a class. Then again when I started
					to document a lot of different technologies at work. The overall consensus
					for both school and work is that I knew how to break it down in a simplistic
					terminology and with plenty of examples and list of resources used. The most
					important reason why I started the blog was that I think new developers or
					people looking to program need to know the obvious basics that are assume
					once you start but are not known when starting. I also enjoy teaching and
					helping others learn new things. Hopefully, WTE can show you some tips tricks
					and even something new to create the next revolutionary technology.
			</p>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<img style="width: 50%" src="./static/img/professores.png" alt="WTE Icon" />
		</div>
	</div>

	<div class="row" style="padding-top: 1em;">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<strong> Who or What is an Eddy?</strong>
				<p>
				By definition an Eddy is a whirlpool.
				For WTE, Eddy is a Mid-Level Developer (2/1/18) with 4 years of development
				experience.
				</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6">
				<i >Skills and Experiences:</i>
				<ul>
					<li>Python</li>
					<li>Java</li>
					<li>C</li>
					<li>JavaScript</li>
					<li>JQuery</li>
					<li>SQL</li>
					<li>Node.JS</li>
					<li>HTML5</li>
					<li>CSS3</li>
					<li>Google Cloud</li>
					<li>Amazon Web Services</li>
					<li>Angular2</li>
					<li>ExpressJS</li>
					<li>HapiJS</li>
					<li>Flask</li>
					<li>SpringBoot</li>
					<li>Jhipster</li>
					<li>ReactNatic/JS</li>
					<li>Docker</li>
					<li>SaltStack</li>
					<li>Jenkins</li>
					<li>Selenium</li>
					<li>SqlAlchemy</li>
					<li>Project Managment</li>
				</ul>

				<i>Certifications:</i>
				<ul>
					<li>CEH</li>
					<li>CISSP</li>
					<li>AWS: Solution Architect</li>
				</ul>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6">
				<i>Degrees:</i>
				<ul>
					<li>Bachelors of Arts in Computer Science From Rollins College</li>
				</ul>
				<i>Interest:</i>
				<ul>
					<li>Traveling </li>
					<li>Food</li>
					<li>Supporting Local Establishment</li>
					<li>Environment</li>
					<li>Developing</li>
				</ul>
				<i>Warning:</i>
				<ul>
					I'm by far a writer, I do not enjoy writing and as you can probably
					tell, I'm by far from being good at it.
				</ul>
		</div>
	</div>


	<div class="row" style="padding-top: 1em;">
		<div class="col-xs-12 col-sm-8 col-md-8">
			<i>Saying and Mottos:</i>
			<ul>
				<li>“<strong>Failure is an option here.</strong> If things are not failing, you are not innovating enough.” — Elon Musk</li>
				<li>1) Find A Way To Solve The Problem.
					 2) Write Code, The Uglier The Better.
					 3) Optimize, Clean, And Perfect Your Code.
					 4) Document Your Code.</li>
				<li>"Talk is cheap. Show me the code." - Linus Torvalds</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<img style="width: 50%" src="./static/img/professores.png" alt="WTE Icon" />
		</div>
	</div>
</div>


{% endblock %}
