{% extends "based.html" %}

{% block mainContent %}
<form action="/contact" method="POST">
  {{ form.csrf_token }}
  {{ form.hidden_tag() }}
  <fieldset>

    <div class="info-section">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="mdl-textfield mdl-textfield--floating-label
          mdl-js-textfield mdl-textfield--full-width  is-upgraded"
          data-upgraded=",MaterialTextfield">
          {{form.first_name.label(class="mdl-textfield__label")}}
          {{form.first_name(class="mdl-textfield__input")}}

          {% for message in form.first_name.errors %}
            <div style="color:red" class="first_name_error error_message">{{ message }}</div>
          {% endfor %}

        </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="mdl-textfield mdl-textfield--floating-label
          mdl-js-textfield mdl-textfield--full-width  is-upgraded"
          data-upgraded=",MaterialTextfield">
            {{form.last_name.label(class="mdl-textfield__label")}}
            {{form.last_name(class="mdl-textfield__input")}}

            {% for message in form.last_name.errors %}
              <div style="color:red" class="last_name_error error_message">{{ message }}</div>
            {% endfor %}

          </div>
        </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="mdl-textfield mdl-textfield--floating-label
        mdl-js-textfield mdl-textfield--full-width  is-upgraded"
        data-upgraded=",MaterialTextfield">
            {{form.email.label(class="mdl-textfield__label")}}
            {{form.email(class="mdl-textfield__input")}}

            {% for message in form.email.errors %}
              <div style="color:red" class="email_error error_message">{{ message }}</div>
            {% endfor %}

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="mdl-textfield mdl-textfield--floating-label
          mdl-js-textfield mdl-textfield--full-width  is-upgraded"
          data-upgraded=",MaterialTextfield">
            {{form.email_message.label(class="mdl-textfield__label")}}
            {{form.email_message(class="mdl-textfield__input")}}

            {% for message in form.email_message.errors %}
              <div style="color:red" class="email_message_error error_message">{{ message }}</div>
            {% endfor %}

          </div>
        </div>
    </div>

<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4 textbox-height">
    <div class="mdl-textfield mdl-textfield--floating-label
    mdl-js-textfield mdl-textfield--full-width  is-upgraded"
    data-upgraded=",MaterialTextfield">
    </div>
  </div>
    <div class="col-xs-12 col-sm-4 col-md-4 textbox-height">
      <div class="mdl-textfield mdl-textfield--floating-label
      mdl-js-textfield mdl-textfield--full-width  is-upgraded"
      data-upgraded=",MaterialTextfield">
        {{form.submit(class="submit_button")}}
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 textbox-height">
      <div class="mdl-textfield mdl-textfield--floating-label
      mdl-js-textfield mdl-textfield--full-width  is-upgraded"
      data-upgraded=",MaterialTextfield">
      </div>
    </div>
  </div>
</div>

  </fieldset>
</form>


{% endblock %}
