{% extends "based.html" %}

{% block mainContent %}
<div class="row">
	<h1 class="title">Welcome! Stranger</h1>
</div>

<div class="row">
	<img class="LandingPageIcon" src="./static/img/professores.png" alt="WTE Icon" />
</div>

<div class="row">
	<div class="col-md-4">
		<div class="thumbnail">
			<div class="caption">
				<p>
					What The Eddy or <strong>WTE</strong> is just a dude who wanted to create a blog about
					documentaiton knowledge, and other skills possesed over time. Learn more
					about Eddy in the About section
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="thumbnail">
			<div class="caption">
				<p>
					Checkout my <u><a href="{{github}}" target="_blank">Git</a></u> respository,
					<u><a href="{{linkedInURL}}" alt="Reroute to LinkedIn" target="_blank">LinkedIn</a></u>,
					or just explore the site.
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="thumbnail">
			<div class="caption">
				<p>
					I'm not perfect even though I really wish I was. That being said feel free
					to shoot me an email about issues, topics, or anything else. Just hit the
					<u><a href="/contact" alt="Reroute To Contact Page">contact</a></u> and I'll try to respond as quickly as possible.
				</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
