{% extends "based.html" %}

{% block mainContent %}
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<div class="caption">
					<p>Sed non accumsan augue. Vestibulum leo dui, pharetra id cursus
						at, vulputate eu neque. Quisque pulvinar ipsum eu neque
						malesuada, eget consequat libero euismod. Fusce convallis
						augue consequat dui interdum, in rhoncus velit ultricies.
						Curabitur sodales neque vitae arcu tristique, at convallis
						justo rutrum. Praesent laoreet, mi et vestibulum porta, ante
						magna pretium lacus, non venenatis nibh risus at arcu. Nulla
						facilisi. Etiam iaculis vel massa nec egestas. Praesent posuere
						egestas elit. Integer a mauris orci. Duis dolor tellus,
						pellentesque nec venenatis et, vehicula nec nunc.
					</p>
					<img src="/static/img/icons/laptop.png" alt="Laptop" style="width:30%">
				</div>

			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<div class="caption">
					<p>Sed non accumsan augue. Vestibulum leo dui, pharetra id cursus
						at, vulputate eu neque. Quisque pulvinar ipsum eu neque
						malesuada, eget consequat libero euismod. Fusce convallis
						augue consequat dui interdum, in rhoncus velit ultricies.
						Curabitur sodales neque vitae arcu tristique, at convallis
						justo rutrum. Praesent laoreet, mi et vestibulum porta, ante
						magna pretium lacus, non venenatis nibh risus at arcu. Nulla
						facilisi. Etiam iaculis vel massa nec egestas. Praesent posuere
						egestas elit. Integer a mauris orci. Duis dolor tellus,
						pellentesque nec venenatis et, vehicula nec nunc.
					</p>
					<img src="/static/img/icons/laptop.png" alt="Laptop" style="width:30%">
				</div>

			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">

				<div class="caption">
					<p>Sed non accumsan augue. Vestibulum leo dui, pharetra id cursus
						at, vulputate eu neque. Quisque pulvinar ipsum eu neque
						malesuada, eget consequat libero euismod. Fusce convallis
						augue consequat dui interdum, in rhoncus velit ultricies.
						Curabitur sodales neque vitae arcu tristique, at convallis
						justo rutrum. Praesent laoreet, mi et vestibulum porta, ante
						magna pretium lacus, non venenatis nibh risus at arcu. Nulla
						facilisi. Etiam iaculis vel massa nec egestas. Praesent posuere
						egestas elit. Integer a mauris orci. Duis dolor tellus,
						pellentesque nec venenatis et, vehicula nec nunc.</p>
						<img src="/static/img/icons/laptop.png" alt="Laptop" style="width:30%">
					</div>
				</div>
			</div>
		</div>

{% endblock %}
